<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art Portfolio</title>
</head>
<body>
    <% for (let item in data) { %>
        <img src="<%= data[item].image %>" alt="<%= data[item].description %>">
    <% } %>    
</body>
</html>